@import url('https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  /* margin: 0; */
  font-family: "Onest", "sans-serif";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  display: none;
}

.character-ai-app {
  display: flex;
}

.side-bar-container2 {
  height: 100vh;
  background-color: #fafafa;
}

.toggle-button-container2 {
  background-color: #f4f4f5;
  height: 100vh;
}


.app-container {
  padding-bottom: 200px;
  background-color: #f4f4f5;
  overflow: auto;
  height: 100vh;
}